.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  /* box model */
  box-sizing: border-box;

  /* font & others */
  font-family: "Noto Sans TC";
  color: #171725;
}

h2 {
  margin: 0;
  line-height: 26px;
  font-weight: 700;
  color: #171725;
}

ul{
  padding:0;
  margin: 0;
}

body > #root > .web-container{
  display:flex;
  margin: 0 auto;
  width: 1140px;
  height: 100vh;
}

body > #root > .admin-web-container {
  display: flex;
  margin: 0 auto;
  width: 1180px;
  height: 100vh;
}

.nav-column{
  width:178px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.website-logo {
  width: 40px;
  height: 40px;

  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 13px;
}

.nav-list {
  margin-bottom: 8px;
}

.side-column{
  width:273px;
  height: 100%;
}

.main-scrollbar {
  width: 662px;
  height: 100%;
  padding-right: 20px;
  margin-left: 24px;
  margin-right: 4px;
  overflow-y: visible;
  overflow-x: hidden;
}

.main-scrollbar::-webkit-scrollbar {
  display: none;
}

.main-scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 15px;
}

.main-scrollbar:hover::-webkit-scrollbar-track{
  width: 15px;
  background-color: #FAFAFA;
  border-right: 0.5px solid #E6ECF0;
  border-left: 0.5px solid #E6ECF0;
}

/* bar的樣式 */
.main-scrollbar:hover::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: #C1C1C1;
}

.main-container{
  width: 642px; 
  min-height: 100vh;
  border-right: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0
}

.main-header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  padding-left: 20px;
}

.main-header-line{
  border:1px solid #E6ECF0;
  margin:0;
}

/* 後台 */
.admin-nav-column {
  width: 178px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-list-scrollbar {
  width: 958px;
  height: 100%;
  padding-right: 20px;
  margin-left: 24px;
  margin-right: 4px;
  overflow-y: visible;
  overflow-x: hidden;
}

.main-list-scrollbar::-webkit-scrollbar {
  display: none;
}

.main-list-scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 15px;
}

.main-list-scrollbar:hover::-webkit-scrollbar-track {
  width: 15px;
  background-color: #FAFAFA;
  border-right: 0.5px solid #E6ECF0;
  border-left: 0.5px solid #E6ECF0;
}

/* bar的樣式 */
.main-list-scrollbar:hover::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: #C1C1C1;
}

.main-list-container{
  width:938px;
  min-height: 100vh;
  border-right: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0;
}

